body{
  background-color: lightgoldenrodyellow;
}
header{
  color: brown;
  font: size 10px;

}
h2{
  color:darkmagenta;
}
#education{
  color: orangered;
}
#projects{
  color: blue;
}

#skills{
  color:darkcyan;
}
#hobbies{
  color: darkgreen;
}
#awards{
  color: red;
}